/day 15 to day 40/Day 29/.idea/.gitignore
/day 15 to day 40/Day 29/.idea/misc.xml
/day 15 to day 40/Day 29/.idea/inspectionProfiles/profiles_settings.xml
/day 15 to day 40/Day 29/.idea/inspectionProfiles/Project_Default.xml
/day 15 to day 40/Day 29/.idea/vcs.xml
/day 15 to day 40/Day 39/flightDealFinder/info.py
/day 15 to day 40/35 - API Authentication/info.py