/day 15 to day 40/Day 29/.idea/.gitignore
/day 15 to day 40/Day 29/.idea/misc.xml
/day 15 to day 40/Day 29/.idea/inspectionProfiles/profiles_settings.xml
/day 15 to day 40/Day 29/.idea/inspectionProfiles/Project_Default.xml
/day 15 to day 40/Day 29/.idea/vcs.xml
/day 15 to day 40/Day 39/flightDealFinder/info.py
/day 15 to day 40/35 - API Authentication/info.py
day 15 to day 40/Day 35 - API Authentication/rain_alert/info.py
day 15 to day 40/Day 32/Birthday Wisher/info.py
day 15 to day 40/Day 35 - API Authentication/rain_alert/__pycache__/info.cpython-312.pyc
day 15 to day 40/Day 35 - API Authentication/rain_alert/__pycache__/twilio_api.cpython-312.pyc
day 15 to day 40/Day 36 - stock news/Stock New Monitoring Project/__pycache__/info.cpython-312.pyc
day 15 to day 40/Day 36 - stock news/Stock New Monitoring Project/info.py
day 15 to day 40/Day 37 - POST Requests/pythonProject/__pycache__/info.cpython-312.pyc
day 15 to day 40/Day 37 - POST Requests/pythonProject/info.py
